<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Video Stream</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
  </head>
  <body>
    <div id="intro">
      <h1>This is<br />
      ASL Project</h1>
      <p>An educational software, intended for individuals learning American Sign Language, that will allow them to master  <br />
        the basic spelling and will facilitate the communication, as well as the integration, of deaf people.</p>
      <a href="{{ url_for('yolo_mainpage') }}"><button class="primary">Go to ASL translator</button></a>
    </div>
      

      <!-- <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			<script src="{{ url_for('static', filename='js/showhideelement.js') }}"></script> -->
  </body>
</html>
