<!DOCTYPE html>
<html lang="en">
  <head>
		<title>ASL Project</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',    filename='css/main.css') }}">
	</head>
	<body onload="update_values();">
					<div id="main">
							<section class="posts">
								<article>
									<h3>Your word</h3>
									<blockquote>
									<h5 id="result">RESULT</h5>
									</blockquote>
									  <script>
            							document.getElementById("result").innerHTML;
        							  </script>
									<button class="image fit"  onclick="correct();">Delete Last Character</button>
								</article>
								<article>
									<h3>Expected word</h3>
									<blockquote>
										<h5 id = "demo">WELCOME</h5>
									</blockquote>
									<button class="image fit"  onclick="next();reinitialize_values();">Next Word</button>
								</article>



							</section>
								<button class="image fit" onclick="show_hide()">Show/Hide ASL Alphabet</button>
								<img class="image main" id="image" src="{{ asl1 }}">
								<img class="image fit" src="{{ url_for('yolo_page') }}" alt="Translator">
								<img class="image main" id="image2" src="{{asl2}}">

						<pre>   </pre>
					</div>
			
					
			<!-- <script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>-->

	   <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>	 
       <script src="{{ url_for('static', filename='js/showhideelement.js') }}"></script>
	   <script src="{{ url_for('static', filename='js/next.js') }}"></script>
	   <script type="text/javascript">
                var intervalID = setInterval(update_values, 500);
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                function update_values() {
                        $.getJSON($SCRIPT_ROOT + '/_stuff',

                    function(data) {
                        $('#result').text(data.result);

                    });

                    };



                    function stopTextColor() {
                    clearInterval(intervalID);
                    }

       </script>
	   <script type="text/javascript">
                $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
                function reinitialize_values() {
                    $.getJSON($SCRIPT_ROOT + '/reload');
				};
       </script>
		<script type="text/javascript">
                $SCRIPT_ROOT = {{request.script_root|tojson|safe }};
                function correct() {
                    $.getJSON($SCRIPT_ROOT + '/correct');
				};
       </script>
	</body>
</html>
